<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estacionvital.patienthubestacionvital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <permission android:name="com.estacionvital.patienthubestacionvital.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.estacionvital.patienthubestacionvital.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.estacionvital.patienthubestacionvital.services.FCMListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.estacionvital.patienthubestacionvital.services.FCMInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.estacionvital.patienthubestacionvital.services.RegistrationIntentService"
            android:exported="false">
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.app\" /> -->
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="663de7737e30f5183dfda7c274c0893cf9063a44" />

        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.NumberVerificationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.ConfirmationCodeVerificationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.SuscriptionQuestionActivity" />
        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.ClubSubscriptionActivity" />
        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.RegistrationProfileActivity" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.MainActivityDrawer"
            android:label="@string/title_activity_main_drawer"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.EditProfileActivity"
            android:parentActivityName="com.estacionvital.patienthubestacionvital.ui.activities.MainActivityDrawer" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.ArticleSelectionActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.estacionvital.patienthubestacionvital.ui.activities.MainActivityDrawer" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.WebArticleActivity"
            android:parentActivityName="com.estacionvital.patienthubestacionvital.ui.activities.ArticleSelectionActivity" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.TwilioChatActivity"
            android:parentActivityName="com.estacionvital.patienthubestacionvital.ui.activities.MainActivityDrawer" />
        <activity
            android:name="com.estacionvital.patienthubestacionvital.ui.activities.SpecialtySelectionActivity"
            android:parentActivityName="com.estacionvital.patienthubestacionvital.ui.activities.MainActivityDrawer" />
        <activity android:name="com.estacionvital.patienthubestacionvital.ui.activities.ValidateCouponActivity"></activity>
    </application>

</manifest>